<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Đăng ký</title>
    <link rel="stylesheet" href="/static/css/signup.css">
</head>
<body>
  <div class="signup-form">
    <h2>Create Account</h2>
    <form action="#" method="POST" onsubmit="return handleSignup(event)">
      <input type="text" id='username' placeholder="Username" required>
      <input type="password" id="password" placeholder="Password" required>
      <button type="submit">Sign Up</button>

        <p class="dangky-thanhcong" id="message"> </p>
    </form>
  </div>
<script src="/static/js/signup.js"></script>
</body>
</html>
